#primary {
  border-radius: 2px;
  color:#707070;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 8px 24px;
  box-shadow:0 4px 6px;
  background-color:#40A4F4;
  font-weight:bold;
}
#secondary {
  border-radius: 2px;
  color:#40A4F4;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 8px 24px;
  box-shadow:0 4px 6px;
  font-weight:bold;
}
#success {
  font-weight:bold;
  border:none;
  border-radius: 2px;
  background-color:#31ea56;
  color:#397745;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px;
}
#danger{
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color:#d11919;
  color:#681414;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px;
}
#warning{
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: #79b207;
  background-color:#dfea10;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px;
}
#info {
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: #405b59;
  background-color:#98b7b6;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px;
}
#ui-mode-change-light {
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: #3c665e;
  background-color:#acf9ec;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px 0 hsla(0, 0%, 100%, 1);
}
#ui-mode-change-dark{
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: #c687aa;
  background-color:#560130;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  font-align: center;
  display: inline-block;
  box-shadow:0 4px 6px;
}
